/* RESET GERAL */
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.hide {
  display: none !important;
}

/* MAIN */
.main {
  min-height: 60vh;
  text-align: center;
  padding: 2em;
}

.main h2 {
  margin-bottom: 0.8em;
}

.btnNovaTarefa {
  margin-bottom: 1.5em;
  padding: 8px 15px;
  background-color: #61dafb;
  border: 1px solid #61dafb;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.btnNovaTarefa:hover {
  background-color: #fff;
  border-color: #282c34;
}

/* HEADER */
.header {
  background-color: #282c34;
  color: #61dafb;
  text-align: center;
  padding: 1em;
}

/* FOOTER */
.footer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #fff;
}

.footer, h4, span {
  font-weight: bold;
  color: #61dafb;
}

.ano {
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.form input {
  padding: 8px 15px;
  margin-bottom: 1.5em;
  border-radius: 0;
  border: 1px solid #282c34;
}

.form input[type="submit"] {
  background-color: #61dafb;
  border: 1px solid #61dafb;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}

.form input[type="submit"]:hover {
  background-color: #fff;
  border-color: #282c34;
}

.input_container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input_container label {
  font-weight: bold;
  margin-bottom: 0.4em;
}

/* LISTA */
.task {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.detalhes {
  text-align: left;
}

.detalhes h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.acao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acao button {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #282c34;
  color: #fff;
  border: none;
  padding: 0.4em;
  border-radius: 50%;
  transition: 0.3s;
}

.acao button:hover {
  color: #61dafb;
}

/* MODAL */
.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
}

.modal {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  height: 400px;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 0.8em;
  padding: 20px;
  box-sizing: border-box;
}

.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  color: #000;
  padding: 5px;
  margin: -10px -10px 0 0;
  z-index: 2;
}
