.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-weight: bold;
    color: black;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

.containerUm,
.containerTres {
    margin-top: 20px;
}

.containerDois {
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    background-color: #f9f9f9;
}

.containerQuadro {
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    background-color: #f9f9f9;
    margin-left: 50px;
}

.containerDois h2,
.containerQuadro h2 {
    margin-bottom: 15px;
    color: #333;
}

.containerDois p,
.containerQuadro p {
    font-size: 18px;
    color: #555;
}

span {
    margin-left: 5px;
    font-weight: bold;
}

h2,
p {
    text-align: center;
}