
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.button{
    padding: 10px 50px;
    background-color: rgb(3, 107, 21);
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}
.titulo{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.subtitulo{
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
    margin-bottom: 0;
}
.contador{
    font-size: 48px;
    margin: 20px 0;
    color: #000;
     width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 123, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
}
.reset{
    padding: 8px 30px;
    background-color: rgb(255, 0, 0);
    font-size: 14px;
    cursor: pointer;
}